<h1>Class Attendance: Week {{weekNumber}}</h1>
<p>This page lists all the weeks of the class</p>

<p>Students:</p>
<ul>
  {{#each students}}
  <li>{{this.name}}: {{attendanceForWeek this ../weekNumber}}</li>
  {{/each}}
</ul>

{{#if currentUser}}
  <form action='/attendance/{{weekNumber}}' method='post'>
    <p>Click the button below to mark your attendance:</p>
    <button type='submit'>I am here</button>
  </form>
{{else}}
<p><a href='/login'>Log</a> in to mark yourself as here.</p>
{{/if}}
