<h1>Class Attendance: Week {{week.number}}</h1>
<h2>{{formatDate week.date}}</h2>

<p>Students:</p>
<ul>
  {{#each students}}
  <li>{{this.name}}: {{attendanceForWeek this ../week.number}}</li>
  {{/each}}
</ul>

{{#if currentUser}}
  <form action='/attendance/{{week.number}}' method='post'>
    <p>Click the button below to mark your attendance:</p>
    <button type='submit'>I am here</button>
  </form>
{{else}}
<p><a href='/login'>Log</a> in to mark yourself as here.</p>
{{/if}}
